<div class="panel panel-default profile-area">
  <div class="panel-heading">
    <h3>New Menu</h3>
  </div>
</div>

<div class="container">
<div class="col-md-5 col-md-offset-3">
    <div class="form-area">
        <form role="form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Create New Menu Item</h3>
    				<div class="form-group">
              <label for="name">Name:</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Name of item" required>
					</div>
					<div class="form-group">
            <label for="name">Item Description:</label>
						<input type="text" class="form-control" id="description" name="description" placeholder="Brief description of item" required>
					</div>
					<div class="form-group">
            <label for="name">Price of ITem:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control" id="price" name="price" placeholder="Price of item" required>
            </div>

					</div>
					<div class="form-group">
            <label for="name">Category:</label>
						<select class="form-control" name="category">
						  <option value="">Ramen</option>
              <option value="">Lunch Set</option>
              <option value="">Salad</option>
              <option value="">Entree</option>
						</select>
					</div>
        <a [routerLink]="['/admin']"><button type="button" class="btn btn-default pull-left">Cancel</button></a>
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>
